.entry {
  display: flex;
  justify-content: space-between;
}

.entry__check .ant-checkbox-inner {
  width: 25px;
  height: 25px;
}

.entry__btn .anticon {
  width: 25px;
  height: 25px;
}

.entry__todo{
    font-size: 20px;
}